.App {
  text-align: center;
  background-color: #0a0a0a;
  color: #fff;
  min-height: 100vh;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #6c63ff;
  color: white;
  font-weight: bold;
  transition: all 0.3s;
}

button:hover {
  background-color: #574bff;
}

input {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

.card-box {
  border: 1px solid #555;
  border-radius: 10px;
  margin: 1rem auto;
  width: 250px;
  padding: 1rem;
  background-color: #1b1b1b;
}

.result {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #00ff88;
}
